<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Google Account"
            id="org.spider.ui.eclipse.google_account_manager">
      </category>
      <view
      		allowMultiple="true"
            name="Google Account"
            icon="icons/gmail_16x16.png"
            category="org.spider.ui.eclipse.google_account_manager"
            class="org.spider.ui.eclipse.spidermanager.views.GoogleAccountManagerView"
            id="org.spider.ui.eclipse.spidermanager.views.GoogleAccountManager">
      </view>
      <category
            id="org.spider.ui.eclipse.channel_manager"
            name="Channel Manager">
      </category>
      <view
            allowMultiple="true"
            category="org.spider.ui.eclipse.channel_manager"
            class="org.spider.ui.eclipse.spidermanager.views.HomeChannelManagerView"
            icon="icons/playlist_16x16.png"
            id="org.spider.ui.eclipse.spidermanager.views.HomeChannelManager"
            name="Home Channle"
            restorable="true">
      </view>
      <view
      		allowMultiple="true"
            category="org.spider.ui.eclipse.channel_manager"
            class="org.spider.ui.eclipse.spidermanager.views.MonitorChannelManagerView"
            icon="icons/eye_16x16.png"
            id="org.spider.ui.eclipse.spidermanager.views.MonitorChannelManager"
            name="Monitor Channel"
            restorable="true">
      </view>
      <view
     		allowMultiple="true"
            category="org.spider.ui.eclipse.channel_manager"
            class="org.spider.ui.eclipse.spidermanager.views.MappingChannelManagerView"
            icon="icons/settings_16x16.png"
            id="org.spider.ui.eclipse.spidermanager.views.MappingChannelManager"
            name="Mapping Channel"
            restorable="true">
      </view>
      <view
            class="org.spider.ui.eclipse.spidermanager.views.DownloadClusterManagerView"
            icon="icons/download.png"
            id="org.spider.ui.eclipse.spidermanager.views.DownloadClusterManager"
            name="Download Cluster"
            restorable="true">
      </view>
      <view
            class="org.spider.ui.eclipse.spidermanager.views.RenderClusterManagerView"
            icon="icons/render.png"
            id="org.spider.ui.eclipse.spidermanager.views.RenderClusterManager"
            name="Render Cluster"
            restorable="true">
      </view>
      <view
            class="org.spider.ui.eclipse.spidermanager.views.UploadClusterManagerView"
            icon="icons/upload.png"
            id="org.spider.ui.eclipse.spidermanager.views.UploadClusterManager"
            name="Upload Cluster"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Spider Manager"
            id="org.spider.ui.eclipse.spidermanager.commands.category">
      </category>
      <command
            name="Spider Manager"
            categoryId="org.spider.ui.eclipse.spidermanager.commands.category"
            id="org.spider.ui.eclipse.spidermanager.commands.spidermanager">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.spider.ui.eclipse.spidermanager.commands.spidermanager"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Spider Action Set"
            visible="true"
            id="org.spider.ui.eclipse.spidermanager.actionSet">
         <menu
               icon="icons/settings_16x16.png"
               id="spiderManager"
               label="Spider &amp;Manager">
            <separator
                  name="googleAccountGroup">
            </separator>
            <separator
                  name="channelGroup">
            </separator>
            <separator
                  name="clusterGroup">
            </separator>
         </menu>
         <action
               class="org.spider.ui.eclipse.spidermanager.actions.OpenGoogleAccountManager"
               icon="icons/gmail_16x16.png"
               id="SpiderManager.googleAccount"
               label="&amp;Google Account"
               menubarPath="spiderManager/googleAccountGroup"
               toolbarPath="spiderManager/googleAccountGroup"
               tooltip="Google Account Manager">
         </action>
         <action
               class="org.spider.ui.eclipse.spidermanager.actions.OpenHomeChannelManager"
               icon="icons/playlist_16x16.png"
               id="SpiderManager.homeChannel"
               label="&amp;Home Channel"
               menubarPath="spiderManager/channelGroup"
               style="push"
               toolbarPath="spiderManager/channelGroup">
         </action>
         <action
               class="org.spider.ui.eclipse.spidermanager.actions.OpenMonitorChannelManager"
               icon="icons/eye_16x16.png"
               id="SpiderManager.monitorChanel"
               label="&amp;Monitor Channel"
               menubarPath="spiderManager/channelGroup"
               style="push"
               toolbarPath="spiderManager/channelGroup">
         </action>
         <action
               class="org.spider.ui.eclipse.spidermanager.actions.OpenMappingChannelManager"
               icon="icons/settings_16x16.png"
               id="SpiderManager.mappingChannel"
               label="&amp;Mapping Channel"
               menubarPath="spiderManager/channelGroup"
               style="push"
               toolbarPath="spiderManager/channelGroup">
         </action>
         <action
               class="org.spider.ui.eclipse.spidermanager.actions.OpenDownloadClusterManager"
               icon="icons/download.png"
               id="SpiderManager.downloadCluster"
               label="&amp;Download Cluster"
               menubarPath="spiderManager/clusterGroup"
               style="push"
               toolbarPath="spiderManager/clusterGroup">
         </action>
         <action
               class="org.spider.ui.eclipse.spidermanager.actions.OpenRenderClusterManager"
               icon="icons/render.png"
               id="SpiderManager.renderCluster"
               label="&amp;Render Cluster"
               menubarPath="spiderManager/clusterGroup"
               style="push"
               toolbarPath="spiderManager/clusterGroup">
         </action>
         <action
               class="org.spider.ui.eclipse.spidermanager.actions.OpenUploadClusterManager"
               icon="icons/upload.png"
               id="SpiderManager.uploadCluster"
               label="&amp;Upload Cluster"
               menubarPath="spiderManager/clusterGroup"
               style="push"
               toolbarPath="spiderManager/clusterGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
